html *{
    margin: 0;
    padding: 0;
}
/*PRINCIPAL*/
.principalContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;  
    flex-grow: 1; 
}

/*HERO*/
.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

/*HEADER*/
.headerContainer{
    height: 10vh;
    width: 100%;
    display: flex;
}
.menu-logo{
    display:flex;
    width: 50%;
    justify-content: left;
    align-items: center;
}
.menu-options{
    color: #ee4054;
    display: flex;
    margin-left: 5vw;
    width: 40%;
    justify-content: space-between;
}
.menu-login{
    color: #ee4054;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    justify-content: right;
    align-items: center;
}
.login-options{
    display: flex;
    margin-right: 5vw;
    width: 40%;
    justify-content: space-between;
}

/*FOOTER*/
.footer{
    background-color: #48D1BE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuRedes{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    color: #ee4054;
}
.menuFooter, .redesSociales{
    display: flex;
    flex-direction: column;
}