:root {
    /* --fcolor: #ee4054; */
    --fcolor: #48d1be;
}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarContainer{
    background-color: var(--fcolor);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0 10vw;
}

.filterNavbar{
    width: 40vw;
    height: 5.5vh;
    padding: 0 1.5vw;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 4px 5px 1px #00000022;
}

.navbarLinks * {
    margin-right: 10px;
}







.categoryContainer {
    /* background-color: #555555; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .categoryHero{
    background-color: var(--fcolor);
    background-color: #ee4054;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.categoryStoresContainer{
    background-color: #f5f5f5;
    /* flex: 1; */
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
}

.categoryStoresContainer > span{
    font-size: 2rem;
    margin-top: 5vh;
}

.categoryStoresSection{
    /* background-color: white; */
    width: 95%;

    /* height: 50vh; */
    /* margin-top: 30px; */
    margin-bottom: 6vh;
    padding: 1vh 2vw;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    /* flex: 1; */
    /* height: 130vh; */
}

/* .categoryStoresCards{
    background-color: var(--fcolor);
    background-color: #ffffff;
    margin: .5vh .5vw;
    height: 30vh;
    width: 30vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px 1px #00000022;
} */



.storeStars{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;   
}

.productPageContainer{
    background-color: #f7f7f7;
    /* background-color: yellow; */
    /* flex: 1; */
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.productPageImg{
    width: 400px;
    height: 400px;
    background-size: cover;
}

.productPageCard{
    background-color: #ffffff;
    width: 95%;
    height: 80%;
    padding: 5vh 5vw;
    box-shadow: 0px 2px 5px 1px #00000022;
    border-radius: 5px;
}

.productPageCardInfo{
    display: flex;
    /* background-color: blue; */
}

.productPageTitlePrice{
    /* background-color: blueviolet; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productPageTitle{
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 1.9rem;
}

.productPagePrice{
    height: 10vh;
    display: flex;
    align-items: center;
}

.productPageStock{
    height: 10vh;
    display: flex;
    align-items: center;
}
