html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Helvetica,Arial,sans-serif;
}
:root{
    --primarycolor: #45d6c5;
    --secondarycolor: #f64c54;
    --thirdcolor: #ecf0f1;
}
.contenedorHome{
    background-color: var(--thirdcolor);
}
/* .contenedorHero{
    background: linear-gradient(180deg, #fe9b46, #f64c54);
    height: 100vh;
} */
.clickabuyLogo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7vw;
    height: 7vw;
}
.contenedorLogo{
    display: flex;
    align-items: center;
}
.carrouselBanner{  
    width: 90%;
    display: flex;
    justify-content: center;
}
.carousel{
    left: 70px;
}
.imageBanner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 83vh;
}
.infoHero{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 0;
}
.bannerPoints{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 15vh;
    margin-left: 0.5vw;
}
.contenedorFiltro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    padding: 4px 1vw;
    width: 25vw;
}
.iconSearchHome{
    background-color: var(--primarycolor);
    color: white;
    border-radius: 50%;
    padding: 4px 5px;
    cursor: pointer;
}
.filtroHome{
    border: none;
    width: 80%;
}
.filtroHome:focus{
    outline: none;
}
.headerContainer{
    background-color: var(--primarycolor);
    padding: 7vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.headerContainer h1{
    color: white;
}
.contenedorNavs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3vw;
    width: 30%;
}
.navegadores, .categoriesDropdown{
    color: white;
    font-size: 17px;
    /* font-family: 'Poppins-Regular',Helvetica,Arial,sans-serif; */
}
.navegadores:hover{
    text-decoration: none;
    color: white;
}

.contenedorCategoriesBanner{
    width: 100%;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.contenedorCategories{
    width: 90%;
    padding-top: 6vh;
}
.contenedorCategories h2{
    margin-bottom: 5vh;
}
.imageCategoryBanner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vw;
}

.flexCategories{
    display: flex;
    justify-content: space-between;

}
.category{
    border-radius: 15px;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.category:nth-child(1){
    background-color: #c2c6f8;
}
.category:nth-child(2){
    background-color: #ffd66dad;
    /* background-color: rgb(237, 243, 198); */
}
.category:nth-child(3){
    background-color: #bbffef;
}
.category:nth-child(4){
    background-color: #ffd4d6;
    /* background-color: rgb(246, 105, 62); */
}
.category:nth-child(5){
    background-color: #bfd8ff;

}
.category:nth-child(6){
    background-color: #fcebe9;
}
.iconViewMore{
    padding: 2vh 1vw;
    color: #ff441f;
    font-size: 8vw;
    /* width: 10vw;
    height: 10vw; */
}
.containerStore{
    background-color: var(--secondarycolor);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.containerCards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}
.cardProduct{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17vw;
    height: 40vh;
    background-color: white;
}
.buttonAddProduct{
    margin-top: 5vh;
    background-color: var(--secondarycolor);
    color: white;
    padding: 1vh 3vw;
    border-radius: 10px;
    border: none;
}
.cardProductInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 25vh;
}
.descriptionProduct{
    height: 10vh;
}
.containerCategories{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nameCategory{
    margin-top: 2vh;
    color: grey;
    background-color: var(--tercercolor);
    width: 30vw;
    border: 1px solid grey;
    padding: 1vh 3vw;
    cursor: pointer;
}
.nameCategory:hover{
    background-color: rgba(128, 128, 128, 0.226);
    /* color: white; */
}
.contenedorFooter{
    background-color: #f6f6f6;
}
.contenedorOptions{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}
.footerOptions p{
    color: #666;
    /* font-family: 'Poppins-Regular',Helvetica,Arial,sans-serif; */
}