html *{
    margin: 0;
    padding: 0;
}
.principalContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;  
    flex-grow: 1; 
}
.heroContainer{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-grow: 1;
}
.headerContainer{
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: black;
}
.menu-logo{
    display:flex;
    width: 50%;
    background-color: burlywood;
    justify-content: left;
    align-items: center;
}
.menu-options{
    background-color: crimson;
    display: flex;
    margin-left: 5vw;
    width: 40%;
    justify-content: space-between;
}
.menu-login{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    background-color: cadetblue;
    justify-content: right;
    align-items: center;
}
.login-options{
    background-color: blue;
    display: flex;
    margin-right: 5vw;
    width: 40%;
    justify-content: space-between;
}
.footer{
    background-color: chartreuse;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuRedes{
    background-color: ghostwhite;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.menuFooter{
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.redesSociales{
    background-color: green;
    display: flex;
    flex-direction: column;
}